<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Code Quiz</title>
</head>
  <body ng-app="app" ng-controller="QuestionController as questionCtrl">

    <main ng-view>Processing</main>
    <div>
     	<p>Name : <input type="text" ng-model="name"></p>
     	<h1>Hello {{name}}</h1>
    </div>
    <div ng-init="questionCtrl.getQuestions()">
      <!-- <p ng-repeat="question in questionCtrl.allQuestions">
        {{question}}
      </p> -->
      <p ng-repeat="question in questionCtrl.catQuestions">
        {{question}}
      </p>
      <button ng-click="questionCtrl.getCategory('css')" name="button">css</button>
    </div>

  <!-- <script src="./node_modules/angular/angular.js"></script> -->
  <script src="./bundle.js"></script>
  </body>
</html>
