html {
  height: 100%;
  width: 90%;
  margin: auto; }

body {
  height: 100%;
  width: 100%; }

#index-main {
  display: flex;
  align-items: center;
  height: 100%; }

#home-main {
  width: 100%; }

#hometitle {
  color: red;
  font-size: 5em;
  text-align: center;
  font-family: 'Source Code Pro'; }

#tagline {
  font-family: 'Source Code Pro';
  font-size: 3em;
  text-align: center; }

#sign-in-form {
  text-align: center; }

#login-link {
  text-align: center; }

#un-field {
  text-align: center;
  width: 75%;
  height: 100%;
  font-family: 'Source Code Pro';
  font-size: 3em;
  box-sizing: border-box; }

#pw-field {
  font-size: 3em;
  font-family: 'Source Code Pro';
  text-align: center;
  width: 75%;
  height: 100%;
  box-sizing: border-box; }

#signup-button {
  font-family: 'Source Code Pro';
  width: 75%;
  height: 2em;
  font-size: 3em;
  box-sizing: border-box; }

#uae {
  font-family: 'Source Code Pro';
  color: red;
  width: 75%;
  margin: auto; }

#hometitle {
  color: red;
  text-align: center; }

#tagline {
  text-align: center; }

#login-form {
  text-align: center; }

#signup-link {
  text-align: center; }

#un-field {
  width: 75%;
  box-sizing: border-box; }

#pw-field {
  width: 75%;
  box-sizing: border-box; }

#login-button {
  font-family: 'Source Code Pro';
  width: 75%;
  height: 2em;
  font-size: 3em;
  box-sizing: border-box; }

#ip {
  font-family: 'Source Code Pro';
  color: red;
  width: 75%;
  margin: auto; }

#cat-main {
  width: 100%; }

#cat-title {
  color: red;
  text-align: center;
  font-size: 6em; }

#cat-form {
  text-align: center;
  list-style-type: none;
  width: 100%; }

#cat-form li {
  width: 100%; }

#cat-form button {
  width: 100%;
  height: 2em;
  font-size: 3em;
  box-sizing: border-box; }

#dif-main {
  width: 100%; }

#dif-title {
  color: red;
  text-align: center;
  font-size: 6em; }

#dif-form {
  text-align: center;
  list-style-type: none;
  width: 100%; }

#cat-form li {
  width: 100%; }

#dif-form button {
  width: 75%;
  height: 2em;
  font-size: 3em;
  box-sizing: border-box; }

#game-main {
  width: 100%; }

#game-title {
  color: red;
  text-align: center;
  font-size: 4vw; }

#answer-choices {
  padding: 1%;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  border-radius: 4px;
  border: 1px solid #bbb;
  color: #555;
  text-align: center;
  box-sizing: border-box;
  font-size: 2vw;
  width: 100%; }
  #answer-choices:hover {
    border: 1px solid yellow; }

#next-wrap {
  text-align: center; }

#next-button {
  padding: 1%;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  border-radius: 4px;
  border: 1px solid #bbb;
  color: #555;
  text-align: center;
  box-sizing: border-box;
  font-size: 2vw;
  width: 100%; }
  #next-button:hover {
    border: 1px solid blue; }

#score {
  text-align: center; }

#home-link {
  text-align: center;
  display: block; }

#results-link {
  text-align: center;
  display: block; }

#cat-dif {
  text-align: center; }

#results-main {
  width: 100%; }

#results-title {
  color: red;
  text-align: center;
  font-size: 6em; }

#results-score {
  text-align: center; }

#results-footer {
  text-align: center; }

#submit-form input {
  width: 100%; }

#submit-form select {
  width: 100%; }
