body {
  height: 100%;
  width: 90%;
  margin: 5% auto;
  text-align: center;
  font-family: "Source Code Pro", Courier, monospace;
  background-color: #111;
  color: #868686; }

#main {
  max-width: 650px;
  margin: 5% auto; }

h1, h2 {
  margin: 0;
  color: #49a6d2;
  font-size: 5em;
  text-align: center; }

h2 {
  font-size: 4em; }

h4 {
  font-size: 2.7em;
  color: #a6e22e; }

input[type="text"],
input[type="password"] {
  width: 75%;
  height: 100%;
  border: 1px solid #a2a199;
  box-sizing: border-box;
  text-align: center;
  font-size: 3em;
  font-family: "Source Code Pro", Courier, monospace;
  background-color: #3e3d32;
  color: #a2a199; }

::-moz-placeholder {
  color: #fff; }

::-webkit-input-placeholder {
  color: #fff; }

::-ms-input-placeholder {
  color: #fff; }

button,
#next-button {
  width: 75%;
  height: 2em;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 3em;
  font-family: "Source Code Pro", Courier, monospace;
  background-color: #a6e22e;
  color: #111; }
  button:hover,
  #next-button:hover {
    color: #111; }

.error-message {
  color: #f92672;
  clear: both; }

.select-options {
  margin-top: 1em;
  list-style-type: none; }

.select-options button:hover {
  background-color: #FFFF00;
  color: #111; }

#game-title {
  font-size: 6vw; }

.answer-choices {
  margin-top: 1em;
  padding: 6%;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  font-size: 1em;
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: #3e3d32;
  color: #a2a199; }
  .answer-choices:hover {
    background-color: #FFFF00;
    color: #111; }

.cat-choices, .dif-choices {
  padding: 6%;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  font-size: 2em;
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: #a6e22e;
  color: #111; }
  .cat-choices:hover, .dif-choices:hover {
    background-color: #FFFF00; }

#next-wrap {
  text-align: center; }

#next-button {
  padding: 1%;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  border-radius: 4px;
  border: 1px solid #bbb;
  color: #555;
  text-align: center;
  box-sizing: border-box;
  font-size: 1em;
  height: 3.25em;
  width: 100%; }
  #next-button:hover {
    border: 1px solid blue; }

#score {
  text-align: center; }

#home-link {
  text-align: center;
  display: block; }

#results-link {
  text-align: center;
  display: block; }

#cat-dif {
  text-align: center; }

.rightAns {
  background-color: #bbff33;
  color: black; }
  .rightAns:hover {
    background-color: #bbff33; }

.wrongAns {
  background-color: #F22613;
  color: black; }
  .wrongAns:hover {
    background-color: #F22613; }

#results-main {
  width: 100%; }

#results-title {
  color: red;
  text-align: center;
  font-size: 6em; }

#results-score {
  text-align: center; }

#results-footer {
  text-align: center; }

#submit-form input {
  width: 100%; }

#submit-form select {
  width: 100%; }
