// home template styling ---------------
#hometitle {
  color: red;
  text-align: center;
}

#tagline {
  text-align: center;
}

#sign-in-form {
  text-align: center;
}

#login-link {
  text-align: center;
}

#un-field{
  width: 75%;
  box-sizing: border-box;
}

#pw-field{
  width: 75%;
  box-sizing: border-box;
}

#signup-button{
  width: 75%;
  box-sizing: border-box;
}

#uae {
  color: red;
  width: 75%;
  margin: auto;
}

//------------------------------------------
// login template styling ------------------
#hometitle {
  color: red;
  text-align: center;
}

#tagline {
  text-align: center;
}

#login-form {
  text-align: center;
}

#signup-link {
  text-align: center;
}

#un-field{
  width: 75%;
  box-sizing: border-box;
}

#pw-field{
  width: 75%;
  box-sizing: border-box;
}

#login-button{
  width: 75%;
  box-sizing: border-box;
}

#ip {
  color: red;
  width: 75%;
  margin: auto;
}
//------------------------------------------
// category template styling ---------------
#cat-title {
  text-align: center;
}

#cat-form {
  text-align: center;
}
