<section>
  <h2>Select A Category</h2>
  <ul class="select-options">
    <!-- <li><a href="#/game" ng-click="questionCtrl.resume()" ng-show="questionCtrl.count"><button>Resume</button></a></li> -->
    <li><button ng-click="questionCtrl.getCategory('All')">All</button></li>
    <li><button ng-click="questionCtrl.getCategory('DataStructures')">Data Structures</button></li>
    <li><button ng-click="questionCtrl.getCategory('JavaScript')">JavaScript</button></li>
    <li><button ng-click="questionCtrl.getCategory('HTML/CSS')">HTML/CSS</button></li>
  </ul>
</section>
