<main ng-init="questionCtrl.getQuestions()">
  <h1 id="cat-title">Select a Category</h1>
  <ul id="cat-form">
    <li><a href="#/difficulty" ng-click="questionCtrl.getCategory('All')"><button>All</button></a></li>
    <li><a href="#/difficulty" ng-click="questionCtrl.getCategory('Data Structures')"><button>Data Structures</button></a></li>
    <li><a href="#/difficulty" ng-click="questionCtrl.getCategory('JavaScript')"><button>JavaScript</button></a></li>
    <li><a href="#/difficulty" ng-click="questionCtrl.getCategory('HTML/CSS')"><button>HTML/CSS</button></a></li>
  </ul>
</main>
