<main>
  <h1 id="cat-title">Select a Category</h1>
  <ul id="cat-form">
    <!-- <li><a href="#/game" ng-click="questionCtrl.resume()" ng-show="questionCtrl.count"><button>Resume</button></a></li> -->
    <li><button ng-click="questionCtrl.getCategory('All')">All</button></li>
    <li><button ng-click="questionCtrl.getCategory('Data Structures')">Data Structures</button></li>
    <li><button ng-click="questionCtrl.getCategory('JavaScript')">JavaScript</button></li>
    <li><button ng-click="questionCtrl.getCategory('HTML/CSS')">HTML/CSS</button></li>
  </ul>
</main>
