<section>
  <h2 id="game-title">Question: {{questionCtrl.curQuestion.question}}</h2>
  <!-- <div id="answer-cont"> -->
  <div id="answer-choices" ng-class="{rightAns: questionCtrl.correct == 1, wrongAns: questionCtrl.correct == 2}" ng-repeat="answer in questionCtrl.answers" ng-click="questionCtrl.getAnswer(answer)">{{answer}}</div>
  <div id="next-button" ng-show="questionCtrl.showNextButton" ng-click="questionCtrl.showNextButton = false; questionCtrl.newQuestion()"name="button">next</div>
  <!-- </div> -->
  <footer>
    <p id="cat-dif">{{questionCtrl.scoreData.questionsCorrect}} | {{questionCtrl.scoreData.completedQuestions}}</p>
    <p id="score">Score</p>
    <a id="home-link" href="#/">Home</a>
    <a id="results-link" href="#/results">Finished? Check results here!</a>
    <a href="" ng-click="userctrl.signOut()">Logout</a>
  </footer>
</section>
