<main id="home-main">
  <h1 id="hometitle" class="eight columns offset-by-two column">Code Quiz</h1>
  <h4 id="tagline" class="eight columns offset-by-two column">Score a great job!</h4>
  <form id="sign-in-form" ng-submit="userctrl.createUser(user)">

    <input id="un-field" type="text" placeholder="username" value="username" ng-model="user.username" required/>

    <p id="uae" ng-show="userctrl.uae">Username already exists!</p>

    <input id="pw-field" type="password" placeholder="password" value="password" ng-model="user.password" required/>
    <button id="signup-button" type="submit">SignUp</button>
  </form>
  <p id="login-link">Already have an account? <a href="#/login">Login</a> here!</p>
</main>
