<main id="links-main">
  <h1 id="Links-title">Links</h1>
  <h4 id="tagline">Want to achieve a higher score? </br> Checkout these links!</h4>
  <ul id="links-list">
    <li id="next-button"><a href="http://www.codefellows.org/">Code Fellows</li>
    <li id="next-button"><a href="https://www.codecademy.com/">Codecademy</li>
    <li id="next-button"><a href="https://teamtreehouse.com/">Treehouse</li>
    <li id="next-button"><a href="https://www.codeschool.com/">Code School</li>
    <li id="next-button"><a href="http://stackoverflow.com/">Stack Overflow</li>
    <li id="next-button"><a href="https://developer.mozilla.org/en-US/">MDN</li>
  </ul>

</main>
